################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinqExample/bin/Debug
/LinqExample/obj/Debug
/ProcessesThreadsExample/bin/Debug
/ProcessesThreadsExample/obj/Debug
